/*
	@name web_1920___1
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: table; position: relative; width: 100%; height: 100%; margin-left: auto; margin-right: auto;  }

#_bg__web_1920___1 {
	top: 0px;
	left: 0px;
	width: 100%;
	background:rgba(255,255,255,255);
}


#pixiotix_v2 {
	top: 49px;
	left: 278px;
	width: 209px;
	height: 61px;
}


#rectangle_1 {
	top: 172px;
	left: 0px;
	width: 1920px;
	height: 360px;
	background:rgba(255,255,255,0);
	background: -webkit-linear-gradient(35.622359003029deg , rgba(25,70,139,255) 0%, rgba(0,143,196,255) 100%);
	background: -o-linear-gradient(35.622359003029deg , rgba(25,70,139,255) 0%, rgba(0,143,196,255) 100%);
	background: -moz-linear-gradient(35.622359003029deg , rgba(25,70,139,255) 0%, rgba(0,143,196,255) 100%);
	background: -ms-linear-gradient(35.622359003029deg , rgba(25,70,139,255) 0%, rgba(0,143,196,255) 100%);
	background: linear-gradient(35.622359003029deg , rgba(25,70,139,255) 0%, rgba(0,143,196,255) 100%);
}


#rectangle_2 {
	opacity:0.09;
	top: 2205px;
	left: 0px;
	width: 1920px;
	height: 682px;
	background:rgba(25,70,139,255);
}


#rectangle_3 {
	opacity:0.09;
	top: 3787px;
	left: 0px;
	width: 1920px;
	height: 820px;
	background:rgba(25,70,139,255);
}


#about_ {
	top: 83px;
	left: 1106px;
	width: 69px;
	height: 31px;
	font-family: Open Sans;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color:#19468b;
}


#services_ {
	top: 83px;
	left: 1251px;
	width: 89px;
	height: 31px;
	font-family: Open Sans;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color:#19468b;
}


#people_ {
	top: 83px;
	left: 1415px;
	width: 76px;
	height: 31px;
	font-family: Open Sans;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color:#19468b;
}


#contact {
	top: 83px;
	left: 1567px;
	width: 80px;
	height: 31px;
	font-family: Open Sans;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color:#19468b;
}


#pixiotix_helps_deep_tech_businesses__start__innovate__deliver_and_grow_ {
	top: 280px;
	left: 278px;
	width: 792px;
	height: 134px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 42px;
	font-weight: bold;
	text-align: left;
	color:#ffffff;
}


#our_services {
	top: 2279px;
	left: 557px;
	width: 792px;
	height: 71px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 42px;
	font-weight: bold;
	text-align: center;
	color:#19468b;
}


#our_people {
	top: 2992px;
	left: 563px;
	width: 792px;
	height: 71px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 42px;
	font-weight: bold;
	text-align: center;
	color:#19468b;
}


#contact_us {
	top: 3873px;
	left: 557px;
	width: 792px;
	height: 71px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 42px;
	font-weight: bold;
	text-align: center;
	color:#19468b;
}


#deep_technology_experience__there_s_a_lot_more_to_software_development_than_typical___full_stack__development__pixiotix_has_experience_across_a__broad_gamut_of_software_development__from_working_with_custom_hardware__to_embedded_systems__operating_systems_ {
	top: 765px;
	left: 278px;
	width: 536px;
	height: 271px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	line-height: 30px;
	color:#707070;
}


#software_engineering__pixiotix_brings_a_wealth_of_experience_in_software_engineering__in_real_product_development_environments__we_know_how_to_get_engineering_teams_started_from_scratch__instill_good_practice_and_culture__and_implement_systems_and_practice {
	top: 1792.5px;
	left: 278px;
	width: 536px;
	height: 340px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	line-height: 30px;
	color:#707070;
}


#getting_started_____technical_validation_of_ideas___product_design___system_architecture___technical_team_building___mentoring__supervision {
	top: 2503px;
	left: 278px;
	width: 277px;
	height: 309px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	line-height: 36px;
	color:#707070;
}


#delivery____pragmatic_software____engineering_process___streamline_operations___engineering_systems___devops {
	top: 2503px;
	left: 1013px;
	width: 277px;
	height: 289px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	line-height: 36px;
	color:#707070;
}


#innovation_____research___expertise___technical_proof_of_concept_ {
	top: 2503px;
	left: 646px;
	width: 277px;
	height: 259px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	line-height: 36px;
	color:#707070;
}


#grow_____identify_key_technical_talent___technical_due_diligence___design_for_scale__availability_______security__performance {
	top: 2503px;
	left: 1381px;
	width: 277px;
	height: 259px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	line-height: 36px;
	color:#707070;
}


#research_and_development__innovation__trying_to_do_something_that_hasn_t_been_done_before__not_sure_if_it_is_even_possible__great___pixiotix_is_all_about_innovation___we_can_help_with_research__ideation__technical_proposals___proof_of_concept_through_to_im {
	top: 1302px;
	left: 278px;
	width: 536px;
	height: 218px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	line-height: 30px;
	color:#707070;
}


#product_development__turning_amazing_ideas_into_amazing_products_takes_time__expertise_and_care__designing_a_system_that_your_users_will_love__that_s_fast__reliable__secure_and_scalable_is_a_massive_undertaking_and_it_s_worth_planning_for_up_front__talk_to {
	top: 765px;
	left: 1106px;
	width: 536px;
	height: 319px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	line-height: 30px;
	color:#707070;
}


#startups_and_scaleups__building_and_scaling_a_startup_business_is_hard___your_technology_team_is_key_to_delivering_a_great_product__pixiotix_helps_startups_identify_people_and_organisations_with_the_right_skills__experience_and_potential_to_help_you_succee {
	top: 1302px;
	left: 1106px;
	width: 536px;
	height: 218px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	line-height: 30px;
	color:#707070;
}


#ellipse_1 {
	top: 610px;
	left: 278px;
	width: 131px;
	height: 131px;
	-ms-border-radius: 65.5px / 65.5px;
	-o-border-radius: 65.5px / 65.5px;
	-moz-border-radius: 65.5px / 65.5px;
	-webkit-border-radius: 65.5px / 65.5px;
	border-radius: 65.5px / 65.5px;
	background:rgba(0,143,196,255);
}


#ellipse_3 {
	top: 1144px;
	left: 278px;
	width: 131px;
	height: 131px;
	-ms-border-radius: 65.5px / 65.5px;
	-o-border-radius: 65.5px / 65.5px;
	-moz-border-radius: 65.5px / 65.5px;
	-webkit-border-radius: 65.5px / 65.5px;
	border-radius: 65.5px / 65.5px;
	background:rgba(0,143,196,255);
}


#ellipse_5 {
	top: 1632px;
	left: 278px;
	width: 131px;
	height: 131px;
	-ms-border-radius: 65.5px / 65.5px;
	-o-border-radius: 65.5px / 65.5px;
	-moz-border-radius: 65.5px / 65.5px;
	-webkit-border-radius: 65.5px / 65.5px;
	border-radius: 65.5px / 65.5px;
	background:rgba(0,143,196,255);
}


#ellipse_2 {
	top: 610px;
	left: 1106px;
	width: 131px;
	height: 131px;
	-ms-border-radius: 65.5px / 65.5px;
	-o-border-radius: 65.5px / 65.5px;
	-moz-border-radius: 65.5px / 65.5px;
	-webkit-border-radius: 65.5px / 65.5px;
	border-radius: 65.5px / 65.5px;
	background:rgba(0,143,196,255);
}


#ellipse_4 {
	top: 1144px;
	left: 1106px;
	width: 131px;
	height: 131px;
	-ms-border-radius: 65.5px / 65.5px;
	-o-border-radius: 65.5px / 65.5px;
	-moz-border-radius: 65.5px / 65.5px;
	-webkit-border-radius: 65.5px / 65.5px;
	border-radius: 65.5px / 65.5px;
	background:rgba(0,143,196,255);
}


#daniel_moore__director___daniel_has_over_20_years_experience_in_software_engineering_with_the_last_10_years_in_senior_engineering_leadership_roles__working_with_founders_and_ceos_to_drive_technology_and_engineering___working_in_innovative__research___devel {
	top: 3157px;
	left: 1013px;
	width: 653px;
	height: 554px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	line-height: 36px;
	color:#707070;
}


#are_you_working_on_something_great__pixiotix_can_help_ {
	top: 3963px;
	left: 630px;
	width: 653px;
	height: 53px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color:#19468b;
}

#noun_arrow_3134100 {
	top: 2425.6667480469px;
	left: 277.80993652344px;
	width: 28.6103515625px;
	height: 46.476806640625px;
}

#path_1 {
	top: 0px;
	left: 0px;
	width: 28.6103515625px;
	height: 46.476806640625px;
}

#noun_arrow_3134100_ek1 {
	top: 2425.6667480469px;
	left: 646.49169921875px;
	width: 28.6103515625px;
	height: 46.476806640625px;
}

#path_1_ek1 {
	top: 0px;
	left: 0px;
	width: 28.6103515625px;
	height: 46.476806640625px;
}

#noun_arrow_3134100_ek2 {
	top: 2425.6667480469px;
	left: 1012.709777832px;
	width: 28.610290527344px;
	height: 46.476806640625px;
}

#path_1_ek2 {
	top: 0px;
	left: 0px;
	width: 28.610290527344px;
	height: 46.476806640625px;
}

#noun_arrow_3134100_ek3 {
	top: 2425.6667480469px;
	left: 1381.3916015625px;
	width: 28.6103515625px;
	height: 46.476806640625px;
}

#path_1_ek3 {
	top: 0px;
	left: 0px;
	width: 28.6103515625px;
	height: 46.476806640625px;
}

#noun_arrow_3134100_ek4 {
	top: 2425.6667480469px;
	left: 671.10943603516px;
	width: 28.6103515625px;
	height: 46.476806640625px;
}

#path_1_ek4 {
	top: 0px;
	left: 0px;
	width: 28.6103515625px;
	height: 46.476806640625px;
}

#noun_arrow_3134100_ek5 {
	top: 2425.6667480469px;
	left: 1037.3273925781px;
	width: 28.6103515625px;
	height: 46.476806640625px;
}

#path_1_ek5 {
	top: 0px;
	left: 0px;
	width: 28.6103515625px;
	height: 46.476806640625px;
}

#noun_arrow_3134100_ek6 {
	top: 2425.6667480469px;
	left: 1406.0092773438px;
	width: 28.6103515625px;
	height: 46.476806640625px;
}

#path_1_ek6 {
	top: 0px;
	left: 0px;
	width: 28.6103515625px;
	height: 46.476806640625px;
}

#noun_arrow_3134100_ek7 {
	top: 2425.6667480469px;
	left: 1062.5177001953px;
	width: 28.6103515625px;
	height: 46.476806640625px;
}

#path_1_ek7 {
	top: 0px;
	left: 0px;
	width: 28.6103515625px;
	height: 46.476806640625px;
}

#noun_arrow_3134100_ek8 {
	top: 2425.6667480469px;
	left: 1431.1994628906px;
	width: 28.6103515625px;
	height: 46.476806640625px;
}

#path_1_ek8 {
	top: 0px;
	left: 0px;
	width: 28.6103515625px;
	height: 46.476806640625px;
}

#noun_arrow_3134100_ek9 {
	top: 2425.6667480469px;
	left: 1456.3896484375px;
	width: 28.6103515625px;
	height: 46.476806640625px;
}

#path_1_ek9 {
	top: 0px;
	left: 0px;
	width: 28.6103515625px;
	height: 46.476806640625px;
}


#mask_group_1 {
	top: 3174px;
	left: 328px;
	width: 457px;
	height: 457px;
}


#rectangle_4 {
	top: 4046px;
	left: 653px;
	width: 617px;
	height: 84px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#rectangle_5 {
	top: 4166px;
	left: 653px;
	width: 617px;
	height: 84px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#rectangle_6 {
	top: 4286px;
	left: 653px;
	width: 617px;
	height: 112px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #707070;
	background:rgba(255,255,255,255);
}


#name {
	top: 4070px;
	left: 689px;
	width: 169px;
	height: 39px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color:#707070;
}


#___2020_pixiotix___all_rights_reserved {
	top: 4681px;
	left: 667px;
	width: 579px;
	height: 39px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color:#707070;
}


#email {
	top: 4190px;
	left: 689px;
	width: 169px;
	height: 39px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color:#707070;
}


#message {
	top: 4313px;
	left: 689px;
	width: 169px;
	height: 39px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color:#707070;
}


#rectangle_7 {
	top: 4433px;
	left: 815px;
	width: 292px;
	height: 71px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:rgba(25,70,139,255);
}


#send {
	top: 4452px;
	left: 873px;
	width: 169px;
	height: 39px;
	overflow: hidden;
	font-family: Open Sans;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color:#ffffff;
}


#image_2 {
	top: 3211px;
	left: 1007px;
	width: 48px;
	height: 48px;
}


#image_3 {
	top: 4667px;
	left: 1738px;
	width: 48px;
	height: 48px;
}

#noun_research_2583163 {
	top: 1178px;
	left: 310.41979980469px;
	width: 71.913543701172px;
	height: 64px;
}

#path_2 {
	top: 0px;
	left: -0px;
	width: 63.985473632812px;
	height: 64px;
}


#path_3 {
	top: 3px;
	left: 15px;
	width: 56.727386474609px;
	height: 36.116333007812px;
}

#noun_technology_909469 {
	top: 1180px;
	left: 1142.5999755859px;
	width: 58.066650390625px;
	height: 56.734252929688px;
}
#group_1 {
	top: 0px;
	left: 0px;
	width: 58.066650390625px;
	height: 56.734130859375px;
}

#path_4 {
	top: 0px;
	left: 22px;
	width: 36.326782226562px;
	height: 35.62548828125px;
}


#path_5 {
	top: 0px;
	left: 22px;
	width: 14.586791992188px;
	height: 14.586791992188px;
}


#path_6 {
	top: 21px;
	left: 43px;
	width: 14.586791992188px;
	height: 14.586791992188px;
}


#path_7 {
	top: 42px;
	left: 0px;
	width: 14.586791992188px;
	height: 14.586791992188px;
}


#path_8 {
	top: 0px;
	left: 0px;
	width: 58.066650390625px;
	height: 56.734252929688px;
}

#noun_technology_1985150 {
	top: 643.13330078125px;
	left: 310.66674804688px;
	width: 64.333251953125px;
	height: 64.333374023438px;
}
#group_2 {
	top: 0px;
	left: -0px;
	width: 64.333343505859px;
	height: 64.333374023438px;
}

#path_9 {
	top: 0px;
	left: 0px;
	width: 64.333343505859px;
	height: 64.333374023438px;
}


#rectangle_8 {
	top: 24px;
	left: 24px;
	width: 16.448852539062px;
	height: 16.448852539062px;
	background:rgba(255,255,255,255);
}

#noun_software_2218942 {
	top: 1667.4799804688px;
	left: 307.66662597656px;
	width: 71.735626220703px;
	height: 60.319946289062px;
}
#group_3 {
	top: 0px;
	left: 0px;
	width: 71.735626220703px;
	height: 60.319946289062px;
}

#path_10 {
	top: 0px;
	left: 0px;
	width: 71.735626220703px;
	height: 60.319946289062px;
}


#path_11 {
	top: 21px;
	left: 21px;
	width: 29.026153564453px;
	height: 29.026123046875px;
}

#noun_product_2120041 {
	top: 650.07061767578px;
	left: 1137.6667480469px;
	width: 67.999877929688px;
	height: 50.46923828125px;
}
#group_4 {
	top: 0px;
	left: -0px;
	width: 68px;
	height: 50.46923828125px;
}

#path_12 {
	top: 0px;
	left: 0px;
	width: 68px;
	height: 50.46923828125px;
}

#group_5 {
	top: 172px;
	left: 1560.0080566406px;
	width: 359.91638183594px;
	height: 360px;
}

#rectangle_9 {
	opacity:0.48;
	top: 184px;
	left: 163px;
	width: 31.2275390625px;
	height: 21.178619384766px;
	background:rgba(25,70,139,255);
}


#rectangle_10 {
	top: 0px;
	left: 0px;
	width: 359.82250976562px;
	height: 31.353103637695px;
	background:rgba(25,70,139,255);
}


#rectangle_11 {
	top: 0px;
	left: 163px;
	width: 31.360961914062px;
	height: 360px;
	background:rgba(25,70,139,255);
}


#path_13 {
	top: 31px;
	left: 0px;
	width: 344.65234375px;
	height: 164.24591064453px;
}


#rectangle_12 {
	top: 0px;
	left: 329px;
	width: 31.395874023438px;
	height: 359.81716918945px;
	background:rgba(25,70,139,255);
}


#rectangle_13 {
	top: 329px;
	left: 163px;
	width: 196.86120605469px;
	height: 31.333160400391px;
	background:rgba(25,70,139,255);
}



/* Add your custom CSS here */
